table, .box-primary, .box-success{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
}
.categories-table > tbody > tr > td{
    padding-top: 5px;
    padding-bottom: 5px;
}
.categories-table > tbody > tr > td > input[type=text],
.categories-table > tbody > tr > td > select
{
    padding-top: 2px;
    padding-bottom: 2px;
    height: 24px;
}
.content-header{
}
.box-body .col-md-12{
    margin-bottom: 10px;
}
.form-horizontal .form-group{
    margin-left: 0;
}
.row{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
@media (min-width: 992px) {
    .modal-lg {
        width: 914px;
    }
}
.pagination>li>a, .pagination>li>span {
    color: #337ab7;
    font-weight: normal;
}